.footerContainer {
   background-color: rgb(9, 158, 101);
   padding: 50px;
}

.logoContainer {
   height: 200px;
   width: 100%;
   text-align: center;
}

.logoContainer img {
   height: 100%;
   border-radius: 50%;
}

.addressContainer {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
}

.addressContainer a {
   text-decoration: none;
   color: white;
   font-size: 1rem;
}

.addressContainer a:hover {
   text-shadow: 1px 1px rgba(255, 255, 255, 0.422);
}
